form{
    width: 600px;
    margin: 0 auto;
    font-size: 1.25em;
}
p{
    position: relative;
}
input{
    width: 100%;
    line-height: 50px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 1.25em;
}
.active{
    background: white;
    border: 1px solid blue;
    outline: 0;
}
label{
    position: absolute;
    top: 13px;
    left: 20px;
}